# === macOS file ===
.DS_Store

# === C/C++ build file ===
build/
*.o
*.out
*.exe
*.a
*.so

# === Python Cache file ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === ROS 2 Workspace file ===
log/
install/
build/
devel/
*.launch.py~
*.launch~
*.rviz
*.db

# === Visual Studio Code setting ===
.vscode/

# === Jupyter Notebook ===
.ipynb_checkpoints/

# === PDF / LOG ===
*.aux
*.log
*.toc
*.pdf
*.out

# === Other files ===
*~

/ENPM690_Robot_Learning
/ENPM633_ML
/ENPM640_Rehab_Robotics
/ENPM645_HRI
/ENPM661_Planning
/ENPM662_Robot_Modeling
/ENPM663_Manufacturing_Robots
/ENPM667_Control
/ENPM673_Perception
/ENPM690_Robot_Learning
/ENPM702_Programming

